<?xml version="1.0"?>

<model>
  <name>open_manipulator_p</name>
  <version>2.0</version>
  <!-- <sdf version="1.5">model_.sdf</sdf> -->
  <sdf version="1.7">model.sdf</sdf>

  <author>
    <name>Ashe Kim</name>
    <email>ashekim@robotis.com</email>
  </author>

  <description>
    Open Manipulator P
  </description>
</model>
